@use '@/styles/utils' as *;

.cards {
  display: grid;
  gap: 4rem;
  justify-content: center;
  flex-grow: 1;

  @media ($largePhone) {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 35rem));
  }
}
